:root {
    --c1: #BC9C82;
    --c2: #FBE3D2;
    --c3: #3b2e2a;
    --radius: 14px;
    --shadow: 0 6px 20px rgba(0,0,0,0.12);
}

body {
    margin: 0;
    background: #fff8f2;
    font-family: "Segoe UI", sans-serif;
}

/* HEADER */
header {
    background: var(--c1);
    padding: 14px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu { 
    list-style: none; 
    display: flex; 
    gap: 18px; 
}
.menu a { 
    color: white; 
    text-decoration: none; 
    font-weight: 600; 
}

.cart-btn {
    background: #fff;
    color: #000;
    padding: 8px 14px;
    border-radius: 14px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: var(--shadow);
}

#cartCount {
    background: red;
    padding: 2px 6px;
    border-radius: 10px;
    color: #fff;
}

.hero img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.container { padding: 28px; }

.cards-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.card {
    background: white;
    padding: 12px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    text-align: center;
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 12px;
}

.btn-sm {
    padding: 10px 14px;
    background: var(--c3);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

/* MODAL CARRITO */
.modal-cart {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.8);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.cart-box {
    background: white;
    padding: 20px;
    width: 360px;
    border-radius: 12px;
}

.btn-confirm {
    width: 100%;
    background: #2c7a3f;
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin-top: 14px;
}

.btn-close {
    width: 100%;
    background: #a33;
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin-top: 8px;
}
